body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1041px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2885 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2886_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:770px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2886 {
  position:absolute;
  left:100px;
  top:100px;
  width:376px;
  height:770px;
}
#u2887 {
  position:absolute;
  left:2px;
  top:377px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2888 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2889_div {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:768px;
  background:inherit;
  background-color:rgba(25, 25, 25, 1);
  border:none;
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2889 {
  position:absolute;
  left:102px;
  top:102px;
  width:372px;
  height:768px;
}
#u2890 {
  position:absolute;
  left:2px;
  top:376px;
  width:368px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2891_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:641px;
  background:inherit;
  background-color:rgba(238, 238, 238, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2891 {
  position:absolute;
  left:108px;
  top:172px;
  width:360px;
  height:641px;
}
#u2892 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2893_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:10px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2893 {
  position:absolute;
  left:204px;
  top:130px;
  width:168px;
  height:10px;
}
#u2894 {
  position:absolute;
  left:2px;
  top:-3px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2895_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:10px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2895 {
  position:absolute;
  left:204px;
  top:831px;
  width:168px;
  height:10px;
}
#u2896 {
  position:absolute;
  left:2px;
  top:-3px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2897_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u2897 {
  position:absolute;
  left:108px;
  top:172px;
  width:360px;
  height:640px;
}
#u2898 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2899 {
  position:absolute;
  left:118px;
  top:213px;
  width:25px;
  height:19px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2900 {
  position:absolute;
  left:108px;
  top:242px;
  visibility:hidden;
}
#u2900_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u2900_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2901_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:570px;
  background:inherit;
  background-color:rgba(66, 65, 61, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2901 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:570px;
  opacity:0.5;
}
#u2902 {
  position:absolute;
  left:2px;
  top:277px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2903_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:129px;
}
#u2903 {
  position:absolute;
  left:0px;
  top:442px;
  width:360px;
  height:129px;
}
#u2904 {
  position:absolute;
  left:2px;
  top:56px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2905 {
  position:absolute;
  left:121px;
  top:540px;
  width:128px;
  height:24px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2906 {
  position:absolute;
  left:333px;
  top:457px;
  width:60px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2907 {
  position:absolute;
  left:136px;
  top:228px;
  width:0px;
  height:0px;
}
#u2907_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:557px;
  height:8px;
}
#u2907_seg1 {
  position:absolute;
  left:549px;
  top:-121px;
  width:8px;
  height:125px;
}
#u2907_seg2 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u2907_seg3 {
  position:absolute;
  left:543px;
  top:-130px;
  width:20px;
  height:20px;
}
#u2908 {
  position:absolute;
  left:287px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2909 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2910_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2910 {
  position:absolute;
  left:688px;
  top:100px;
  width:109px;
  height:38px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2911 {
  position:absolute;
  left:5px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u2912_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:17px;
}
#u2912 {
  position:absolute;
  left:688px;
  top:100px;
  width:2px;
  height:14px;
}
#u2913 {
  position:absolute;
  left:2px;
  top:-1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2914 {
  position:absolute;
  left:410px;
  top:500px;
  width:0px;
  height:0px;
}
#u2914_seg0 {
  position:absolute;
  left:-4px;
  top:-94px;
  width:8px;
  height:94px;
}
#u2914_seg1 {
  position:absolute;
  left:-4px;
  top:-94px;
  width:287px;
  height:8px;
}
#u2914_seg2 {
  position:absolute;
  left:275px;
  top:-151px;
  width:8px;
  height:65px;
}
#u2914_seg3 {
  position:absolute;
  left:-10px;
  top:-13px;
  width:20px;
  height:20px;
}
#u2914_seg4 {
  position:absolute;
  left:269px;
  top:-160px;
  width:20px;
  height:20px;
}
#u2915 {
  position:absolute;
  left:75px;
  top:-98px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2916 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2917 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2918 {
  position:absolute;
  left:688px;
  top:307px;
  width:353px;
  height:200px;
  overflow:hidden;
}
#u2918_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:200px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2918_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2919_div {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:85px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u2919 {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:85px;
  font-size:14px;
}
#u2920 {
  position:absolute;
  left:5px;
  top:0px;
  width:343px;
  word-wrap:break-word;
}
#u2921 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2922_div {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:95px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2922 {
  position:absolute;
  left:58px;
  top:102px;
  width:237px;
  height:95px;
}
#u2923 {
  position:absolute;
  left:2px;
  top:40px;
  width:233px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2924_img {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:2px;
}
#u2924 {
  position:absolute;
  left:58px;
  top:160px;
  width:237px;
  height:1px;
}
#u2925 {
  position:absolute;
  left:2px;
  top:-8px;
  width:233px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2926_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:38px;
}
#u2926 {
  position:absolute;
  left:174px;
  top:160px;
  width:1px;
  height:37px;
}
#u2927 {
  position:absolute;
  left:2px;
  top:10px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2928_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2928 {
  position:absolute;
  left:98px;
  top:171px;
  width:29px;
  height:16px;
}
#u2929 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2930_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2930 {
  position:absolute;
  left:212px;
  top:171px;
  width:29px;
  height:16px;
}
#u2931 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2932_div {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u2932 {
  position:absolute;
  left:87px;
  top:126px;
  width:182px;
  height:18px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u2933 {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  word-wrap:break-word;
}
#u2934_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:85px;
}
#u2934 {
  position:absolute;
  left:688px;
  top:307px;
  width:1px;
  height:84px;
}
#u2935 {
  position:absolute;
  left:2px;
  top:34px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
