body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1077px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2137 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2138_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:770px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2138 {
  position:absolute;
  left:100px;
  top:100px;
  width:376px;
  height:770px;
}
#u2139 {
  position:absolute;
  left:2px;
  top:377px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2140 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2141_div {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:768px;
  background:inherit;
  background-color:rgba(25, 25, 25, 1);
  border:none;
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2141 {
  position:absolute;
  left:102px;
  top:102px;
  width:372px;
  height:768px;
}
#u2142 {
  position:absolute;
  left:2px;
  top:376px;
  width:368px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2143_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:641px;
  background:inherit;
  background-color:rgba(238, 238, 238, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2143 {
  position:absolute;
  left:108px;
  top:172px;
  width:360px;
  height:641px;
}
#u2144 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2145_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:10px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2145 {
  position:absolute;
  left:204px;
  top:130px;
  width:168px;
  height:10px;
}
#u2146 {
  position:absolute;
  left:2px;
  top:-3px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2147_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:10px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2147 {
  position:absolute;
  left:204px;
  top:831px;
  width:168px;
  height:10px;
}
#u2148 {
  position:absolute;
  left:2px;
  top:-3px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2149 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2150 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2151_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:56px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 1px 2px rgba(0, 0, 0, 0.149019607843137);
  -webkit-box-shadow:0px 1px 2px rgba(0, 0, 0, 0.149019607843137);
  box-shadow:0px 1px 2px rgba(0, 0, 0, 0.149019607843137);
}
#u2151 {
  position:absolute;
  left:108px;
  top:172px;
  width:360px;
  height:56px;
}
#u2152 {
  position:absolute;
  left:2px;
  top:20px;
  width:356px;
  word-wrap:break-word;
}
#u2153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u2153 {
  position:absolute;
  left:108px;
  top:180px;
  width:40px;
  height:40px;
}
#u2154 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2155_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2155 {
  position:absolute;
  left:108px;
  top:172px;
  width:104px;
  height:56px;
}
#u2155_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:56px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.0980392156862745);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2155.mouseDown {
}
#u2156 {
  position:absolute;
  left:2px;
  top:20px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2157_div {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#2B2B2C;
}
#u2157 {
  position:absolute;
  left:124px;
  top:238px;
  width:198px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#2B2B2C;
}
#u2158 {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  white-space:nowrap;
}
#u2159_div {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u2159 {
  position:absolute;
  left:125px;
  top:329px;
  width:133px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u2160 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  white-space:nowrap;
}
#u2161_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u2161 {
  position:absolute;
  left:125px;
  top:350px;
  width:140px;
  height:14px;
  font-size:11px;
}
#u2162 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  white-space:nowrap;
}
#u2163_div {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u2163 {
  position:absolute;
  left:125px;
  top:386px;
  width:133px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u2164 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  white-space:nowrap;
}
#u2165_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u2165 {
  position:absolute;
  left:125px;
  top:407px;
  width:140px;
  height:14px;
  font-size:11px;
}
#u2166 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  white-space:nowrap;
}
#u2167_div {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u2167 {
  position:absolute;
  left:125px;
  top:276px;
  width:133px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u2168 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  white-space:nowrap;
}
#u2169_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u2169 {
  position:absolute;
  left:125px;
  top:297px;
  width:140px;
  height:14px;
  font-size:11px;
}
#u2170 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  white-space:nowrap;
}
#u2171 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2172_div {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-style:normal;
}
#u2172 {
  position:absolute;
  left:178px;
  top:439px;
  width:159px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-style:normal;
}
#u2173 {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  white-space:nowrap;
}
#u2174_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:25px;
  background:inherit;
  background-color:rgba(238, 238, 238, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2174 {
  position:absolute;
  left:407px;
  top:445px;
  width:43px;
  height:25px;
}
#u2175 {
  position:absolute;
  left:2px;
  top:4px;
  width:39px;
  word-wrap:break-word;
}
#u2176_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:26px;
}
#u2176 {
  position:absolute;
  left:127px;
  top:444px;
  width:37px;
  height:25px;
}
#u2177 {
  position:absolute;
  left:2px;
  top:4px;
  width:33px;
  word-wrap:break-word;
}
#u2178_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FF0000;
}
#u2178 {
  position:absolute;
  left:241px;
  top:459px;
  width:96px;
  height:15px;
  font-size:12px;
  color:#FF0000;
}
#u2179 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  white-space:nowrap;
}
#u2180_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:2px;
}
#u2180 {
  position:absolute;
  left:284px;
  top:445px;
  width:55px;
  height:1px;
}
#u2181 {
  position:absolute;
  left:2px;
  top:-8px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2182 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2183_div {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-style:normal;
}
#u2183 {
  position:absolute;
  left:176px;
  top:480px;
  width:159px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-style:normal;
}
#u2184 {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  white-space:nowrap;
}
#u2185_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:25px;
  background:inherit;
  background-color:rgba(238, 238, 238, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2185 {
  position:absolute;
  left:405px;
  top:486px;
  width:43px;
  height:25px;
}
#u2186 {
  position:absolute;
  left:2px;
  top:4px;
  width:39px;
  word-wrap:break-word;
}
#u2187_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:26px;
}
#u2187 {
  position:absolute;
  left:125px;
  top:485px;
  width:37px;
  height:25px;
}
#u2188 {
  position:absolute;
  left:2px;
  top:4px;
  width:33px;
  word-wrap:break-word;
}
#u2189_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FF0000;
}
#u2189 {
  position:absolute;
  left:239px;
  top:500px;
  width:96px;
  height:15px;
  font-size:12px;
  color:#FF0000;
}
#u2190 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  white-space:nowrap;
}
#u2191_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:2px;
}
#u2191 {
  position:absolute;
  left:282px;
  top:486px;
  width:55px;
  height:1px;
}
#u2192 {
  position:absolute;
  left:2px;
  top:-8px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2193 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2194_div {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-style:normal;
}
#u2194 {
  position:absolute;
  left:176px;
  top:522px;
  width:159px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-style:normal;
}
#u2195 {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  white-space:nowrap;
}
#u2196_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:25px;
  background:inherit;
  background-color:rgba(238, 238, 238, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2196 {
  position:absolute;
  left:405px;
  top:528px;
  width:43px;
  height:25px;
}
#u2197 {
  position:absolute;
  left:2px;
  top:4px;
  width:39px;
  word-wrap:break-word;
}
#u2198_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:26px;
}
#u2198 {
  position:absolute;
  left:125px;
  top:527px;
  width:37px;
  height:25px;
}
#u2199 {
  position:absolute;
  left:2px;
  top:4px;
  width:33px;
  word-wrap:break-word;
}
#u2200_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FF0000;
}
#u2200 {
  position:absolute;
  left:239px;
  top:542px;
  width:96px;
  height:15px;
  font-size:12px;
  color:#FF0000;
}
#u2201 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  white-space:nowrap;
}
#u2202_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:2px;
}
#u2202 {
  position:absolute;
  left:282px;
  top:528px;
  width:55px;
  height:1px;
}
#u2203 {
  position:absolute;
  left:2px;
  top:-8px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2204_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:2px;
}
#u2204 {
  position:absolute;
  left:108px;
  top:571px;
  width:360px;
  height:1px;
}
#u2205 {
  position:absolute;
  left:2px;
  top:-8px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2206_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#8A8A8A;
}
#u2206 {
  position:absolute;
  left:249px;
  top:582px;
  width:71px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#8A8A8A;
}
#u2207 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u2208 {
  position:absolute;
  left:124px;
  top:159px;
  width:0px;
  height:0px;
}
#u2208_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:370px;
  height:8px;
}
#u2208_seg1 {
  position:absolute;
  left:362px;
  top:-4px;
  width:8px;
  height:19px;
}
#u2208_seg2 {
  position:absolute;
  left:362px;
  top:7px;
  width:25px;
  height:8px;
}
#u2208_seg3 {
  position:absolute;
  left:379px;
  top:-13px;
  width:8px;
  height:28px;
}
#u2208_seg4 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u2208_seg5 {
  position:absolute;
  left:373px;
  top:-22px;
  width:20px;
  height:20px;
}
#u2209 {
  position:absolute;
  left:159px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2210 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2211_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2211 {
  position:absolute;
  left:506px;
  top:139px;
  width:109px;
  height:38px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2212 {
  position:absolute;
  left:5px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u2213_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:17px;
}
#u2213 {
  position:absolute;
  left:506px;
  top:139px;
  width:2px;
  height:14px;
}
#u2214 {
  position:absolute;
  left:2px;
  top:-1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2215 {
  position:absolute;
  left:218px;
  top:298px;
  width:0px;
  height:0px;
}
#u2215_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:293px;
  height:8px;
}
#u2215_seg1 {
  position:absolute;
  left:285px;
  top:-74px;
  width:8px;
  height:78px;
}
#u2215_seg2 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u2215_seg3 {
  position:absolute;
  left:279px;
  top:-83px;
  width:20px;
  height:20px;
}
#u2216 {
  position:absolute;
  left:132px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2217 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2218_div {
  position:absolute;
  left:0px;
  top:0px;
  width:571px;
  height:157px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2218 {
  position:absolute;
  left:506px;
  top:217px;
  width:571px;
  height:157px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2219 {
  position:absolute;
  left:5px;
  top:0px;
  width:561px;
  white-space:nowrap;
}
#u2220_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:17px;
}
#u2220 {
  position:absolute;
  left:506px;
  top:217px;
  width:2px;
  height:14px;
}
#u2221 {
  position:absolute;
  left:2px;
  top:-1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2222 {
  position:absolute;
  left:125px;
  top:276px;
  width:242px;
  height:145px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2223 {
  position:absolute;
  left:119px;
  top:425px;
  width:340px;
  height:145px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
